@import 'colors';
.category-page {
  .headerr {
    .info {
      min-height: 100vh;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(
        0deg,
        rgba(44, 29, 108, 0.62),
        rgba(44, 29, 108, 0.62)
      );
      ._title {
      }
      ._description {
      }
    }
  }
  .categories {
    .category {
      display: flex;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 5%;
        height: 1px;
        align-self: center;
        width: 88%;
        border-bottom: 1px solid $font-color-extra-light;
      }
      &:nth-of-type(even) {
        flex-flow: row-reverse;
        text-align: right;
      }
      .image {
        box-shadow: 3px 23px 50px rgba(0, 0, 0, 0.27),
          6px 8px 20px rgba(30, 14, 98, 0.35);
        border-radius: 7px;
      }
      .info {
        ._title {
          color: $alpha-color;
        }
        ._author {
          color: $alpha-color-200;
        }
        ._date {
          color: $font-color-dark;
        }
        ._excerpt {
          color: $font-color-dark-light;
        }
      }
    }
  }
}
