$alpha-color: #482be7;
$alpha-color-100: #5845a5;
$alpha-color-200: #6f5dbb;
$alpha-color-300: #9488d9;

$font-color-light: #bfbfbf;
$font-color-dark: #8c8c8c;
$font-color-dark-light: #aaa;
$font-color-extra-light: #ebeaed;

$alpha-background-gradient: linear-gradient(
  180deg,
  rgba(47, 24, 147, 0.72) 0%,
  rgba(2, 0, 14, 0.479) 100%
);

$alpha-post-background: linear-gradient(
    0deg,
    rgba(44, 29, 108, 0.62),
    rgba(44, 29, 108, 0.62)
  ),
  #c4c4c4;

$alpha-box-shadow: 3px 23px 50px rgba(0, 0, 0, 0.27),
  6px 8px 20px rgba(30, 14, 98, 0.35);

$alpha-border-radius: 7px;
