// All the DM Sans
@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DMSans-BoldItalic.woff2') format('woff2'),
    url('./fonts/DMSans-BoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DMSans-Bold.woff2') format('woff2'),
    url('./fonts/DMSans-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DMSans-mediumItalic.woff2') format('woff2'),
    url('./fonts/DMSans-mediumItalic.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DMSans-mediumItalic.woff2') format('woff2'),
    url('./fonts/DMSans-mediumItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DMSans-Italic.woff2') format('woff2'),
    url('./fonts/DMSans-Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DMSans-Regular.woff2') format('woff2'),
    url('./fonts/DMSans-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// All the George Sans
@font-face {
  font-family: 'George';
  src: url('./fonts/GeorgeLight.woff2') format('woff2'),
    url('./fonts/GeorgeLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'George';
  src: url('./fonts/GeorgeBoldItalic.woff2') format('woff2'),
    url('./fonts/GeorgeBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'George';
  src: url('./fonts/GeorgeBold.woff2') format('woff2'),
    url('./fonts/GeorgeBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'George';
  src: url('./fonts/GeorgeSemiBoldItalic.woff2') format('woff2'),
    url('./fonts/GeorgeSemiBoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'George';
  src: url('./fonts/GeorgeRegularItalic.woff2') format('woff2'),
    url('./fonts/GeorgeRegularItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'George';
  src: url('./fonts/GeorgeRegular.woff2') format('woff2'),
    url('./fonts/GeorgeRegular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'George';
  src: url('./fonts/GeorgeUltraBold.woff2') format('woff2'),
    url('./fonts/GeorgeUltraBold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'George';
  src: url('./fonts/GeorgeSemiBold.woff2') format('woff2'),
    url('./fonts/GeorgeSemiBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'George';
  src: url('./fonts/GeorgeLightItalic.woff2') format('woff2'),
    url('./fonts/GeorgeLightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
