@import 'colors';

.footer-cta {
  margin-top: 3em;
  min-height: 60vh;
  background-color: $alpha-color-300;
  display: flex;
  align-items: center;
  form {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    h6 {
      font-family: George;
      font-size: 3.5em;
    }
    input,
    button {
      padding: 1% 4%;
      border: none;
      font-family: DM Sans;
    }
    input {
      border-radius: 7px 0px 0px 7px;
    }
    button {
      background-color: $alpha-color;
      color: white;
      border-radius: 0px 7px 7px 0px;
    }
  }
}
