.home {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: 0;

  .features,
  .categories,
  .categories ~ .cta,
  .posts {
    max-width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .header {
    min-height: 100vh;
    align-items: center;
    background-image: linear-gradient(
      180deg,
      rgba(72, 43, 231, 0.73) 0%,
      rgba(0, 0, 0, 0.438) 100%
    );
    .blog {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      justify-content: center;
      .info {
        background-color: $alpha-background-gradient;
        ._title {
          color: white;
        }

        ._excerpt {
          color: white;
        }
      }
      .cta {
        display: flex;
        padding: 0;
        min-width: 100%;
        align-items: flex-start;
        justify-content: space-between;
        ._item {
          a {
            color: white;
          }
          border: 2px solid #ffffff;
          background-color: transparent;
          border-radius: 100px;
          padding: 2% 5%;
          @media screen and(min-width:800px) {
            padding: 2% 4%;
          }
          list-style: none;
          &.__main {
            a {
              color: $alpha-color;
            }
            margin-right: 1em;
            flex-grow: 1 initial;
            background-color: #fff;
          }
        }
      }
    }
  }

  .features {
    .icons {
      justify-content: space-evenly;

      ._item {
        margin: 2em 2em;
        font-size: var(--base-font-size);
        &.__feature {
          color: red;
        }
      }
    }

    .info {
      ._title {
        color: $alpha-color;
      }
      ._description {
        color: $font-color-dark;
      }
    }
  }

  .categories {
    .info {
      ._title {
        color: $alpha-color;
      }
    }
    .category {
      box-shadow: $alpha-box-shadow;
      height: 100%;
      border: none;
      &::before,
      &::after,
      & {
        border-radius: 16px;
      }
      justify-content: space-around;
      .content {
        display: flex;
        text-align: left;
        justify-content: space-between;
        border-radius: 16px;
        padding: 10% 10%;
        background: linear-gradient(
            0deg,
            rgba(72, 43, 231, 0.58),
            rgba(72, 43, 231, 0.58)
          ),
          #2f1893;
        .info {
          flex-basis: 90%;
          ._title {
            color: white;
            font-weight: 500;
          }
          ._description {
            color: white;
          }
        }
        .icon {
          flex-basis: 10%;
          align-self: center;
          ._item {
            font-size: 2em;
            color: white;
          }
        }
      }
    }
  }

  .cta {
    width: 100%;
    // padding: 4%;

    .info {
      flex-basis: 100%;
      ._title {
        color: $alpha-color;
      }
      ._description {
        color: $font-color-dark;
      }
    }
    ._cta {
      flex-basis: 100%;
      button {
        border: 2px solid $alpha-color-300;
        background-color: transparent;
        color: $alpha-color;
        border-radius: 16px;
        padding: 5% 35%;
      }
    }
    @media screen and (min-width: 800px) {
      .info {
        flex-basis: 80%;
      }
      ._cta {
        flex-basis: 20%;
      }
    }
  }

  .posts {
    ._title {
      color: $alpha-color;
    }
    .row {
      .wraperr {
        align-self: stretch;
      }
      .wrapper {
        min-height: 100%;
        &,
        &::before,
        &::after,
        .post {
          border-radius: 16px;
        }

        .post {
          border: none;
          min-height: 100%;
          background: linear-gradient(
            180deg,
            rgba(46, 24, 147, 0.342) 0%,
            rgba(0, 0, 0, 0.739) 100%
          );

          .author {
            align-items: center !important;
            height: 100%;
            align-items: center;

            ._avatar {
              flex-basis: 10%;
            }
            ._name {
              font-size: 0.8em !important;
              height: 100%;
              color: white;
            }
            @media screen and(min-width:800px) {
              ._avatar {
                flex-basis: 10%;
              }
              ._name {
                font-size: 1.3em !important;
              }
            }
          }

          .content {
            color: white;
            ._title {
              font-size: var(--base-font-size);
            }
            ._exerpt {
            }
          }
        }
      }
    }
  }
}
