@import 'post';
@import 'categories';
@import 'colors';
@import 'footer';
@import 'home';
@import 'responsive';
@import 'author';
@import 'layout';
@import 'fonts';

.main-footer {
  background-color: $alpha-color;
  color: white;
  margin-top: 3em;
  padding: 1em;
  a {
    font-weight: 900;
    color: white;
  }
  .logo {
    flex-basis: 4%;
  }
}
